In [1]:
# Import requred packages.
import pandas as pd
import numpy as np
from datetime import datetime

In [3]:
# Import a package 'fanc' to interact with EM dataset 'famale adult nerve code = fanc'. (ref. https://github.com/htem/FANC_auto_recon/wiki/)
import fanc
client = fanc.get_caveclient()

In [5]:
client

In [7]:
version_number = client.materialize.version
version_number

1048

In [9]:
# Available version #s
client.materialize.get_versions()

[1040, 1042, 1047, 1048, 840]

In [11]:
# Confirm which version will be used.
#version_number = 1048

In [13]:
time_stamp = client.materialize.get_timestamp()
time_stamp

datetime.datetime(2024, 8, 29, 8, 10, 1, 260691, tzinfo=datetime.timezone.utc)

In [15]:
date=datetime.now().date()

In [17]:
#Doownload a table "soma_dec2022" from FANC dataset of specified version.
soma_id_df = client.materialize.query_table('somas_dec2022', materialization_version=version_number)
soma_id_df

,id,created,superceded_id,valid,volume,pt_supervoxel_id,pt_root_id,pt_position,bb_start_position,bb_end_position
0,72481181429400700,2022-12-04 01:45:28.701889+00:00,NaN,t,1.589229,72904837607462185,648518346491995503,"[25528, 84220, 2199]","[25136.0, 84000.0, 2167.0]","[25920.0, 84544.0, 2210.0]"
1,72481250081768945,2022-12-04 01:45:28.702905+00:00,NaN,t,2.807190,72975274937277986,648518346495131018,"[27260, 86824, 2002]","[27008.0, 86544.0, 1982.0]","[27408.0, 87104.0, 2023.0]"
2,72481319002571550,2022-12-04 01:45:28.703884+00:00,NaN,t,3.072168,72975481431280235,648518346494968053,"[28028, 92796, 2662]","[27696.0, 92448.0, 2634.0]","[28512.0, 93248.0, 2700.0]"
3,72623705288605712,2022-12-04 01:45:28.704874+00:00,NaN,t,3.302213,73260185283711731,648518346487521683,"[35088, 188960, 791]","[34832.0, 188656.0, 771.0]","[35344.0, 189264.0, 812.0]"
4,72481181362296023,2022-12-04 01:45:28.705853+00:00,NaN,t,3.782539,72904768754148480,648518346504954995,"[26584, 83696, 2034]","[26176.0, 83344.0, 2013.0]","[26992.0, 84048.0, 2060.0]"
...,...,...,...,...,...,...,...,...,...,...
16764,72905523661373511,2024-08-25 19:50:08.514756+00:00,NaN,t,NaN,73753453284889700,648518346477134864,"[49334, 209501, 37]","[nan, nan, nan]","[nan, nan, nan]"
16765,73045848832869134,2024-08-25 20:08:04.860784+00:00,NaN,t,NaN,74104541091473292,648518346483940501,"[60142, 188005, 16]","[nan, nan, nan]","[nan, nan, nan]"
16766,72623842727559918,2024-08-25 21:00:24.896388+00:00,NaN,t,NaN,73190160137086103,648518346518684246,"[33321, 198756, 877]","[nan, nan, nan]","[nan, nan, nan]"
16767,72904973905559575,2024-08-25 21:15:03.499480+00:00,NaN,t,NaN,73822791236862804,648518346500414012,"[51302, 178901, 17]","[nan, nan, nan]","[nan, nan, nan]"
16768,73046192430252078,2024-08-25 21:24:33.483083+00:00,NaN,t,NaN,73964422078458428,648518346521656825,"[57154, 205586, 35]","[nan, nan, nan]","[nan, nan, nan]"

In [19]:
#Doownload a table "soma_dec2022" from FANC dataset of specified version.
# Choose only requred colums (here, id(soma_id), pt_root_id (segment_id in specified version).
#A table is 'DataFrame'. These id#s' type are 'int'.
#Data type of #ids will be changed from 'int' to 'str' to avoid any problem caused by merging, up/downloading  etc, later.
#Change a name of column "id" to "soma_id".

soma_id_df2 = client.materialize.query_table('somas_dec2022', select_columns = ['id', 'pt_root_id'],\
                                             materialization_version=version_number)
soma_id_df2[['id','pt_root_id']] = soma_id_df[['id','pt_root_id']].astype('str')
soma_id_df3 = soma_id_df2.rename(columns={"id": "soma_id"})
soma_id_df3

                 soma_id          pt_root_id
0      72481181429400700  648518346491995503
1      72481250081768945  648518346495131018
2      72481319002571550  648518346494968053
3      72623705288605712  648518346487521683
4      72481181362296023  648518346504954995
...                  ...                 ...
16764  72905523661373511  648518346477134864
16765  73045848832869134  648518346483940501
16766  72623842727559918  648518346518684246
16767  72904973905559575  648518346500414012
16768  73046192430252078  648518346521656825

[16769 rows x 2 columns]

In [21]:
soma_id_df3.to_csv('~/Downloads/soma_id# -> pt_root_id#_v = ' + str(version_number) +'_'+str(date)+'.csv')

In [23]:
# You can use timestamp instead of version number.

In [25]:
#Doownload a table "soma_dec2022" from FANC dataset of specified time_stamp.
# Choose only requred colums (here, id(soma_id), pt_root_id (segmsnt_id in specified version), coordinates (separated x,y,z).
#A table is 'DataFrame'. These id#s' type are 'int'.
#Data type of #ids will be changed from 'int' to 'str' to avoid any problem caused by merging, up/downloading  etc, later.

soma_id_df4 = client.materialize.query_table('somas_dec2022', select_columns = ['id', 'pt_root_id'],\
                                             timestamp = time_stamp)
soma_id_df4[['id','pt_root_id']] = soma_id_df4[['id','pt_root_id']].astype('str')
soma_id_df5 = soma_id_df4.rename(columns={"id": "soma_id"})
soma_id_df5

                 soma_id          pt_root_id
0      72481181429400700  648518346491995503
1      72481250081768945  648518346495131018
2      72481319002571550  648518346494968053
3      72623705288605712  648518346487521683
4      72481181362296023  648518346504954995
...                  ...                 ...
16764  72905523661373511  648518346477134864
16765  73045848832869134  648518346483940501
16766  72623842727559918  648518346518684246
16767  72904973905559575  648518346500414012
16768  73046192430252078  648518346521656825

[16769 rows x 2 columns]

In [27]:
soma_id_df5.to_csv('~/Downloads/soma_id# -> pt_root_id#_time_stamp = ' + str(time_stamp)+'.csv')